<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>maps sync control</title>
<link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="https://unpkg.com/maptalks/dist/maptalks.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/maptalks-gl/dist/maptalks-gl.min.js"></script>
<script src="../dist/maptalks.query.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.min.js"></script>
<script src="https://unpkg.com/maptalks.mapsync/dist/maptalks.mapsync.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsts@2.11.3/dist/jsts.min.js"></script>

<!-- <script type="text/javascript" src="https://unpkg.com/split.js@1.6.5/dist/split.min.js"></script> -->

<body>

    <div class="container flex">
        <div class="panel" id="app">
            <div class="flex">
                <!-- <input type="text" v-model="keywords" /><button @click="search">search</button><button
                    @click="clear">clear</button> -->
            </div>
            <div class="search-result">
                <div v-for="item in queryResult">{{item.name}}</div>
            </div>
        </div>
        <div class="map-container flex">
            <div class="map" id="map1"></div>
            <div class="map" id="map2"></div>
        </div>
    </div>
    <script src="./base.js"></script>
    <script>

        maptalks.injectJSTS(jsts);

        layer = new maptalks.VectorLayer('layer', {
            forceRenderOnMoving: true,
            forceRenderOnZooming: true,
            forceRenderOnRotating: true,
            progressiveRender: true,
            progressiveRenderCount: 1000
        }).addTo(map1);



        maptalks.GeoJSON.fetch('./pois.geojson').then(geojson => {
            maptalks.GeoJSON.toGeometryAsync(geojson, geo => {
                geo.setSymbol(symbol);
            }).then(points => {
                layer.addGeometry(points);
                initDrawTool();
                map1.setView({
                    "center": [120.59842871, 31.28752701], "zoom": 12.492788189562274, "pitch": 0, "bearing": 0
                })
            })
        })

        const style = {
            style: [{
                name: 'area-fill',
                filter: true,
                renderPlugin: {
                    dataConfig: {
                        type: "line"
                    },
                    sceneConfig: {},
                    type: "line"
                },
                symbol: {
                    lineColor: 'black'
                }
            },

            ]
        };

        layer1 = new maptalks.GeoJSONVectorTileLayer("geo", {
            style,
            features: true,
            pickingGeometry: true,
            //默认设置空的数据源
            data: './roads.geojson'
        });

        // layer.on("dataload", (e) => {
        //     initDrawTool();
        // });

        const groupGLLayer = new maptalks.GroupGLLayer("gl", [layer1], {

        }).addTo(map1);

    </script>
</body>

</html>